<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2023 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="card-body">
    <p>
      {{ $t("You need explicit consent from the users unless you have a legitimate use.") }}
    </p>

    <div class="mt-3">
      <label class="form-label" name="is_public_administration">
        {{ $t("Do you need your users' consent?") }}
      </label>
      <br />
      <div class="mt-0 btn-group btn-toggle">
        <button @click="is_legitimate_use=false" type="button" class="btn" :class="!is_legitimate_use?'btn-primary':'btn-outline-secondary'">{{ $t("Yes") }}</button>
        <button @click="is_legitimate_use=true" type="button" class="btn" :class="is_legitimate_use?'btn-primary':'btn-outline-secondary'">{{ $t("No") }}</button>
      </div>
    </div>

    <div v-if="is_legitimate_use" class="mt-3">
      <label class="form-label" for="legitimacy">{{ $t("Your legitimate reason") }}</label>
      <input id="legitimacy" class="form-control" v-model="legitimacy" type="text">
    </div>
    <!--
    <div class="form-row">
      <p><strong>{{$t(question.input.label)}}</strong></p>
      <div class="input-group">
        <input v-if="question.input.type=='text'" v-model.trim="input_value" class="mt-2 form-control" placeholder="" />
        <div v-if="question.input.type=='bool'" class="mt-2 btn-group btn-toggle">
          <button @click="setAnswer(true)" type="button" class="btn btn-sm" :class="answer===true?'btn-primary':'btn-outline-secondary'">{{ $t("Yes") }}</button>
          <button @click="setAnswer(false)" type="button" class="btn btn-sm" :class="answer===false?'btn-primary':'btn-outline-secondary'">{{ $t("No") }}</button>
        </div>
      </div>
      <div class="mt-4">
        <ContextHelp />
      </div>
    </div>
    -->
  </div>
</template>

<script>
import { computed, ref, watch } from "vue";
import { wizardStore } from '@/store.js'

export default {
  name: 'LegitimateUse',
  setup() {
    const store = wizardStore()

    const is_legitimate_use = ref(store.wizard.is_legitimate_use)
    watch(computed(() => is_legitimate_use.value), () => {
      store.wizard.is_legitimate_use = is_legitimate_use.value
    })
    const legitimacy = ref(store.wizard.legitimacy)
    watch(computed(() => legitimacy.value), () => {
      store.wizard.legitimacy = legitimacy.value
    })

    return {
      legitimacy,
      is_legitimate_use
    }
  },
}
</script>

<style scoped>

</style>
