<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2023 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="card-body">
    <p>{{ $t("Information that identifies the Data controller throughout the data processing cycle.") }}</p>
    <div>
      <label class="form-label" for="org_name">
        {{ $t("The name of your organization") }}<span class="ds-required" arial-label="required"></span>
      </label>
      <input id="org_name" class="form-control" v-model="name" type="text">
    </div>
    <div class="mt-4">
      <label class="form-label" for="org_email">
        {{ $t("Your organization's contact email") }}
      </label>
      <input id="org_email" class="form-control" v-model="email" type="email">
    </div>
    <div class="mt-4">
      <label class="form-label" for="org_url">
        {{ $t("Your organization's privacy policy web page") }}
      </label>
      <input id="org_url" class="form-control" v-model="url" type="url">
    </div>
    <!--
    <div class="mt-4">
      <label class="form-label" name="is_public_administration">
        {{ $t("Are you a Public administration?") }}
      </label>
      <br />
      <div class="mt-0 btn-group btn-toggle">
        <button @click="is_public_administration=true" type="button" class="btn" :class="is_public_administration?'btn-primary':'btn-outline-secondary'">{{ $t("Yes") }}</button>
        <button @click="is_public_administration=false" type="button" class="btn" :class="!is_public_administration?'btn-primary':'btn-outline-secondary'">{{ $t("No") }}</button>
      </div>
    </div>
    -->
    <DefaultSettings />
  </div>
</template>

<script>
import { computed, ref, watch } from "vue";
import { wizardStore } from '@/store.js'
import DefaultSettings from '@/components/DefaultSettings.vue'

export default {
  name: 'MyOrganization',
  components: { DefaultSettings },
  setup() {
    const store = wizardStore()

    const is_public_administration = ref(store.wizard.my_organization.is_public_administration)
    watch(computed(() => is_public_administration.value), () => {
      store.wizard.my_organization.is_public_administration = is_public_administration.value
      store.saved_organization_profile = false
    })
    const name = ref(store.wizard.my_organization.name)
    watch(computed(() => name.value), () => {
      store.wizard.my_organization.name = name.value
      store.saved_organization_profile = false
    })
    const email = ref(store.wizard.my_organization.email)
    watch(computed(() => email.value), () => {
      store.wizard.my_organization.email = email.value
      store.saved_organization_profile = false
    })
    const url = ref(store.wizard.my_organization.url)
    watch(computed(() => url.value), () => {
      store.wizard.my_organization.url = url.value
      store.saved_organization_profile = false
    })
    return {
      is_public_administration, name, email, url
    }
  },
}
</script>

<style scoped>

</style>
