<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2022 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div v-if="can_edit_profile" class="mt-3">
    <br />
    <button @click="saveDefaultValues()" type="button" class="btn btn-outline-primary" :disabled="saved_settings">
      {{ $t("Save these values for future use") }}
    </button>
    &nbsp;
    <span v-if="saved_settings" type="button" class="btn btn-success" style="cursor:initial">
      <svg xmlns="http://www.w3.org/2000/svg" width="21.25" height="21.25" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
    </span>
  </div>
</template>

<script>
import axios from 'axios';
import { computed, toRef } from "vue";
import { wizardStore } from '@/store.js'

export default {
  name: 'DefaultSettings',
  setup() {
    const store = wizardStore()
    const saved_settings = toRef(store, "saved_organization_profile")
    saved_settings.value = false

    var can_edit_profile = false
    if ((store.settings.scope == "user" || store.settings.scope == "form")
        && store.settings.enforce_org == false) {
      can_edit_profile = true
    }
    async function saveDefaultValues() {
      if (saved_settings.value) {
        return
      }
      saved_settings.value = true
      let payload = JSON.stringify({...store.wizard.my_organization})
      await axios.patch(store.organization_endpoint,
                        payload,
                        {headers: {'Content-Type': 'application/json'}})
                  .catch(e => {
                    console.log(e)
                  })
    }
    return {
      can_edit_profile,
      saved_settings,
      saveDefaultValues
    }
  },
}
</script>

<style scoped>

</style>
