<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2022 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="d-flex justify-content-between">
    <button @click="prevQuestion" aria-label="Previous">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
    </button>
    <button @click="nextQuestion" aria-label="Next">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
    </button>
  </div>
</template>

<script>
import { wizardStore } from '@/store.js'

export default {
  name: 'NextPrev',
  setup() {
    const store = wizardStore()
    return {
      nextQuestion: store.nextQuestion,
      prevQuestion: store.prevQuestion,
    }
  }
}
</script>
