<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2022 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h2>{{ $t("Result") }}</h2>
      <div>&nbsp;<!-- ({{ store.consent_language }}) --></div>
    </div>
    <div class="card-body">
      <div v-html="result"></div>
      <button class="btn mt-4"
              :class="[can_copy ? 'btn-primary' : 'btn-outline-primary']"
              @click="copy" :disabled="!can_copy">
        {{ $t("Copy") }}
      </button>
    </div>
  </div>
</template>

<script>
import { computed, watch } from "vue";
import { wizardStore } from '@/store.js'

export default {
  name: 'WizardResult',
  setup() {
    const store = wizardStore()
    const consent_id = store.consent_id

    function copy() {
      let is_disclaimer_accepted = document.getElementById("is_disclaimer_accepted").value
      if (is_disclaimer_accepted == "true") {
        let storage_key = "wizard_" + store.consent_id
        let data = {
          'generated_text': store.result,
          'wizard': store.wizard,
        }
        window.sessionStorage.setItem(storage_key, JSON.stringify(data));
        window.location = store.consent_url
      } else {
        let element = document.getElementById('vue_modal_hook');
        element.dispatchEvent(new Event('change'));
      }
    }
    return {
      store,
      result: computed(() => store.result),
      copy,
      can_copy: computed(() => store.canCopyResult),
    }
  },
}
</script>

<style scoped>

</style>
